<div class="px-4 sm:px-6 lg:px-8">
    <div class="mt-8 flow-root">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
                    <h2 class="font-semibold text-3xl p-2">{{project.name}}</h2>
                    <p class="p-2">{{project.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>